.tool{
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 2rem;
  text-transform:uppercase;
  color:#90a4ae;
  letter-spacing:6px;
  text-shadow:10px 10px 10px #90a4ae;
}
